<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    
        <div class="row">
                <div class="col-sm-9">
                  <div class="card border-white">
                    <div class="card-body text-center"> 
                      <h2 class ="card-title">{{Agence}}</h2>
                       <p class="card-text">La plus belle agence du monde</p>
                      <p> {{Agence}}, nous créons made of {{pays}} </p>
                    </div>
                  </div>
                  <div class="col-sm-9">
                  <div class="card border-dark align-center mx-auto mt-5" style="width: 18rem;">
                        <img class="card-img-top" src="https://picsum.photos/200/100/?random" alt="Card image cap">
                        <div class="card-body text-center"> 
                          <h5 class="card-title">{{jour}}</h5>
                          
                          <p class="card-text">{{Price}}</p>
                          <a href="#" class="btn btn-primary">Commander</a>
                        </div>
                      </div>
                      </div>
                </div>
                <div class="col-sm-3">
                  <div class="card border-white  mt-5">
                    <div class="card-body text-center">
                      <h5 class="card-title">Special title treatment</h5>
                      <img src="https://picsum.photos/150/150/?random" alt="..." class="rounded-circle">
                      <p class="card-text">{{Agence}}</p>
                        <p>{{job}}</p>
                        <h5>Contact info</h5>
                        <p>{{tel}}</p>
                        <p>{{mail}}</p>
                        <p>{{adresse}}</p>
                    </div>
                  </div>
                </div>
              </div>
  
</body>
</html>